<form [formGroup]="credentials" (ngSubmit)="onSubmit()">
  <div>
    <label for="title" [translate]="'loginForm.username'"></label>
    <input id="title" type="text" formControlName="username" required>
  </div>

  <div>
    <label for="description" [translate]="'loginForm.password'"></label>
    <input id="description" type="text" formControlName="password" required>
  </div>

  @if (errorMessage) {
    <p>{{errorMessage}}</p>
  }

  <button class="enabled-button" type="submit" [translate]="'button.login'"></button>

</form>

