<div class="group-container">
  <h1>Create Group</h1>

  <form [formGroup]="currentGroup" (ngSubmit)="onSubmit()">
    <div class="group-grid">
      <div class="input-layout">
        <label for="title" [translate]="'createTaskForm.title'"></label>
        <input id="title" type="text" formControlName="title" required>
        <app-input-validator [property]="title" [minLength]="5"></app-input-validator>
      </div>

      <div class="input-layout">
        <label for="description" [translate]="'createTaskForm.description'"></label>
        <input id="description" type="text" formControlName="description" required>
        <app-input-validator [property]="description" [minLength]="10"></app-input-validator>
      </div>

      <div class="input-layout">
        <p>Employees</p>
        @for (user of userList$ | async; track user) {
          <div>
            <input
              type="checkbox"
              [value]="user.username"
              (change)="manageUser(user.username, $event.target)">
            <label>
              {{ user.firstName }} {{ user.lastName }} ({{ user.username }})
            </label>
          </div>
        }
      </div>
    </div>

    <div class="flex flex-row justify-center">
      <button [disabled]="!currentGroup.valid" [translate]="'button.create'" class="custom-button" type="submit">
      </button>
    </div>

  </form>
</div>
