<nav>
  <!-- left side -->
  <div>
    <ul>
      @if (userStore.isLoggedIn()) {
        <li>
          <a routerLink="task-list" routerLinkActive="active" ariaCurrentWhenActive="page"
             [translate]="'navigationBar.task.listName'"></a>
        </li>
        @if (userStore.isAuthorized('Admin')) {
          <li>
            <a routerLink="create-task" routerLinkActive="active" ariaCurrentWhenActive="page"
               [translate]="'navigationBar.task.create'"></a>
          </li>
          <li>
            <a routerLink="user-list" routerLinkActive="active" ariaCurrentWhenActive="page"
               [translate]="'navigationBar.task.listUser'"></a>
          </li>
        }
      }
    </ul>
  </div>
  <!-- right side -->
  <div>
    <!-- change language -->
    <select (change)="languageService.changeLanguage($event.target)">
      <option value="lv">LV</option>
      <option value="en">EN</option>
    </select>

    <!-- login/register -->
    @if (!userStore.isLoggedIn()) {
      <div>
        <a routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page"
           [translate]="'navigationBar.login'"></a>
        <a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page"
           [translate]="'navigationBar.register'"></a>
      </div>
    }

    <!-- authorized users name -->
    @if (userStore.isLoggedIn()) {
      <div>
        <p>{{ userService.getFullName() }}</p>
        <a
          routerLink="login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          (click)="userStore.logout()"
          [translate]="'button.logout'">
        </a>
      </div>
    }
  </div>
</nav>

<router-outlet></router-outlet>
