<!-- task: <id>-->
<div class="details-layout">
  <div class="task-header">
    <h2>ID: {{ task._id }}</h2>
    @if (userStore.isAuthorized('Admin')) {
      <button (click)="toggleEditMode()">
        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M12 20h9"/>
          <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"/>
        </svg>
      </button>
    }
  </div>

  @if (editMode) {
    <form [formGroup]="currentTask" (ngSubmit)="onUpdate()">
      <div class="task-card">
        <div>
          <label for="title" [translate]="'createTaskForm.title'"></label>
          <input id="title" type="text" formControlName="title" required>
          <app-input-validator [property]="title" [minLength]="5"></app-input-validator>
        </div>

        <div>
          <label for="description" [translate]="'createTaskForm.description'"></label>
          <input id="description" type="text" formControlName="description" required>
          <app-input-validator [property]="description" [minLength]="10"></app-input-validator>
        </div>

        <div>
          <label for="type" [translate]="'createTaskForm.type'"></label>
          <input id="type" type="text" formControlName="type" required>
          <app-input-validator [property]="type"></app-input-validator>
        </div>

        <div>
          <label for="status" [translate]="'createTaskForm.status'"></label>
          <input id="status" type="text" formControlName="status" required>
        </div>
        <app-input-validator [property]="status"></app-input-validator>

        @if (userStore.isAuthorized('Manager')) {
          <div>
            <label for="assignedTo" [translate]="'createTaskForm.assignedTo'"></label>
            <select id="assignedTo" formControlName="assignedTo">
              <option value="Unassigned">Unassigned</option>
              @for (user of userList$ | async; track user) {
                <option [value]="user.username">
                  {{ user.firstName }} {{ user.lastName }} ({{ user.username }})
                </option>
              }
            </select>
          </div>
        }

        @if (errorMessage) {
          <div>{{ errorMessage }}</div>
        }

        <app-form-submit-button [formIsValid]="currentTask.valid" [text]="'button.update'"></app-form-submit-button>

      </div>
    </form>
  } @else {
    @if (task) {
      <!-- task view -->
      <div class="task-card">
        <div>
          <p>{{ 'createTaskForm.title' | translate }}:</p>
          <p>{{ task.title }}</p>
        </div>
        <div>
          <p>{{ 'createTaskForm.description' | translate }}:</p>
          <p>{{ task.description }}</p>
        </div>
        <div>
          <p>{{ 'createTaskForm.type' | translate }}:</p>
          <p>{{ task.type }}</p>
        </div>
        <div>
          <p>{{ 'createTaskForm.status' | translate }}:</p>
          <p>{{ task.status }}</p>
        </div>
        <div>
          <p>{{ 'createTaskForm.assignedTo' | translate }}:</p>
          <p>{{ task.assignedTo }}</p>
        </div>
        <div>
          <p>{{ 'createTaskForm.createdOn' | translate }}:</p>
          <p>{{ task.createdOn }}</p>
        </div>
      </div>
    }
  }
</div>
