<div class="custom-container">
  <h1>Register</h1>

  <form [formGroup]="credentials" (ngSubmit)="onSubmit()">
    <div class="form-input-field-layout">
      <!-- top row -->
      <div class="space-y-2">
        <div>
          <label for="firstName" [translate]="'registerForm.firstName'"></label>
          <input id="firstName" type="text" formControlName="firstName" required>
          <app-input-validator [property]="firstName"></app-input-validator>
        </div>

        <div>
          <label for="lastName" [translate]="'registerForm.lastName'"></label>
          <input id="lastName" type="text" formControlName="lastName" required>
          <app-input-validator [property]="lastName"></app-input-validator>
        </div>
      </div>
      <div></div>
      <div></div>

      <!-- middle row -->
      <div></div>
      <div>
        <div>
          <label for="title" [translate]="'registerForm.username'"></label>
          <input id="title" type="text" formControlName="username" required>
          <app-input-validator [property]="username"></app-input-validator>
        </div>
      </div>
      <div></div>

      <!-- last row -->
      <div></div>
      <div></div>
      <div>
        <div class="space-y-2">
          <div class="w-full">
            <label for="description" [translate]="'registerForm.password'"></label>
            <input id="description" type="text" formControlName="password" required>
            <app-input-validator [property]="password"></app-input-validator>
          </div>

          <div class="w-full">
            <label for="confirmPassword" [translate]="'registerForm.confirmPassword'"></label>
            <input id="confirmPassword" type="text" formControlName="confirmPassword" required>
            <app-input-validator [property]="confirmPassword"></app-input-validator>
          </div>
        </div>
      </div>
    </div>

    @if (errorMessage) {
      <p>{{ errorMessage }}</p>
    }

    <app-form-submit-button [formIsValid]="credentials.valid" [text]="'button.register'"
                            class="custom-button"></app-form-submit-button>
  </form>
</div>
